/* Estilo de la página general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del título */
.formulario h2 {
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Estilo del formulario */
#formulario {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

#formulario:target {
    display: flex;
}

#formulario:target ~ #btn-formulario {
    display: none;
    cursor: pointer;
}

/* Ajustes para la ventana flotante en index.php */
.ventana-flotante {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #000000;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

.ventana-flotante:target {
    display: flex;
}

.ventana-flotante #contenido-detalles {
    width: 100%;
    overflow-y: auto;
}

.ventana-flotante #btn-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.ventana-flotante #btn-cerrar:hover {
    color: red;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .ventana-flotante {
        width: 95%;
        max-width: none;
        height: 80%;
    }

    .ventana-flotante h2 {
        font-size: 18px;
    }

    .ventana-flotante #btn-cerrar {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .ventana-flotante {
        width: 100%;
        height: 90%;
        border-radius: 0;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .ventana-flotante h2 {
        font-size: 16px;
    }

    .ventana-flotante #btn-cerrar {
        font-size: 16px;
    }
}

/* Botón de incremento y decremento tenga un tamaño adecuado */
.d-flex .btn-outline-danger,
.d-flex .btn-outline-success {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    padding: 0;
}

/* Para que el ícono ocupe todo el espacio del botón */
.d-flex .btn-outline-danger i,
.d-flex .btn-outline-success i {
    font-size: 1.5em; /* Ajusta el tamaño del ícono según sea necesario */
    pointer-events: none; /* Permite que los clics pasen al botón */
}