/* Margenes de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño para el header */
.encabezado {
    background-color: #773f1e;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-top: 0;
    padding: 20px;
}

.titulo h1 {
    margin: 0;
    font-size: 60px;
    font-family: cursive;
}

.titulo p {
    margin: 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Contenedor general */
.contenedor-almuerzos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

/* Estilo para cada almuerzo */
.almuerzo {
    width: calc(27% - 25px); 
    height: 380px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Estilo de la imagen */
.almuerzo-imagen {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

/* Estilo del nombre */
.almuerzo-nombre {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

/* Estilo de la descripcion */
.almuerzo-descripcion {
    color: #666;
    margin-bottom: 10px;
    font-family:cursive;
}

/* Estilo del precio */
.almuerzo-precio {
    margin-bottom: 30px;
    font-weight: bold;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Estilo del botón "Agregar" */
.btn-agregar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family:cursive;
}

.btn-agregar:hover {
    background-color: #026428;
}

/* Estilo del botón "Agotado" */
.btn-agotado {
    background-color: #e23030;
    color: #fff;
    border: none;
    pointer-events: none;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family:cursive;
}

/* Diseño para el footer */
footer {
    background-color: #773f1e;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}